/* SCSS RGB */
@font-face {
  font-family: "font-1";
  src: url("./../media/fonts/Oswald-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "font-2";
  src: url("./../media/fonts/Oswald-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "font-3";
  src: url("./../media/fonts/Oswald-Bold.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  font-family: "font-1", sans-serif;
  color: rgb(242, 232, 207);
}

main {
  min-height: 100%;
}

p {
  font-size: large;
}

.flex-dir-row {
  display: flex;
  flex-direction: row;
}

.flex-dir-column {
  display: flex;
  flex-direction: column;
}

.absolute-center {
  align-items: center;
  justify-content: center;
}

.text-align-left {
  text-align: left;
}

.centered-text-children h1 {
  text-align: center;
}

.centered-text-children h2 {
  text-align: center;
}

.centered-text-children p {
  text-align: center;
}

.margin-children p {
  margin: 10px;
}

.margin-ten {
  margin: 10px;
}

.margin-vh {
  margin: 3vh;
}

.margin-thirty {
  margin: 30px;
}

.max-width-50 {
  max-width: 50%;
}

.display-none {
  display: none !important;
}

.hilight-red {
  color: rgb(188, 71, 73);
  font-family: "font-2", sans-serif;
  text-shadow: 1px 1px black;
}

.hilight-green {
  color: rgb(106, 153, 78);
  font-family: "font-2", sans-serif;
  text-shadow: 1px 1px black;
}

.hilight-black {
  color: #313338;
  font-family: "font-2", sans-serif;
  text-shadow: 1px 1px black;
}

.infoButton {
  background-image: url(../media/images/help.png);
}
.infoButton:hover {
  transform: scale(1.2) rotate(12deg);
}

.logsButton {
  background-image: url(../media/images/list.png);
}
.logsButton:hover {
  transform: scale(1.2) rotate(360deg);
}

#collapsibleLogsElement {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  margin: 0;
}

#collapsibleLogsElement.expanded {
  max-height: 1000px; /* Set a sufficiently large value to accommodate content */
  opacity: 1;
  margin: 1vh;
}

.logsContainer {
  background-color: rgba(49, 51, 56, 0.5);
  padding: 1vw;
  border-radius: 1vw;
  min-width: 14vw;
  max-width: 100%;
  margin: 1vw;
  overflow-y: auto;
  max-height: 20vw;
}

.logsText {
  font-family: "font-1", sans-serif;
  font-size-adjust: inherit;
}

.button-container {
  position: fixed;
  bottom: 1vw;
  left: 1vw;
  display: flex;
  flex-direction: row;
}
.button-container div {
  margin-right: 1vw;
  transition: 0.5s;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  /* border: none; */
  width: 2.5vw;
  height: 2.5vw;
  min-width: 30px;
  min-height: 30px;
  background-size: cover;
}
.button-container div:hover {
  transition: 0.5s;
  filter: invert(20%) sepia(6%) saturate(694%) hue-rotate(185deg) brightness(89%) contrast(93%);
}

.roulette-container {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(242, 232, 207);
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roulette-container p {
  font-family: "font-3", sans-serif;
  font-size-adjust: inherit;
}

.invisible-container {
  color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.invisible-container p {
  color: rgba(0, 0, 0, 0);
}

.roulette-square {
  width: 2.5vw;
  height: 2.5vw;
  font-family: "font-3", sans-serif;
  font-size-adjust: inherit;
}

#cancelBetButton {
  min-height: 2.5vw;
  background-color: rgba(0, 0, 0, 0);
  margin: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(242, 232, 207);
  border-radius: 10px;
  transition: 0.5s;
}
#cancelBetButton:hover {
  background-color: #bc4749;
  transition: 0.5s;
  cursor: pointer;
}
#cancelBetButton p {
  font-family: "font-2", sans-serif;
  font-size-adjust: inherit;
  margin: 5px;
}

.rouletteButton {
  min-height: 2.5vw;
  background-color: rgba(0, 0, 0, 0);
  margin: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(242, 232, 207);
  border-radius: 10px;
  transition: 0.5s;
}
.rouletteButton:hover {
  background-color: #6a994e;
  transition: 0.5s;
  cursor: pointer;
}
.rouletteButton p {
  font-family: "font-2", sans-serif;
  font-size-adjust: inherit;
  margin: 5px;
}

.selected-square {
  background-color: rgb(210, 162, 71) !important;
}
.selected-square:hover {
  background-color: rgba(167, 201, 87, 0.5) !important;
}

.red-square {
  background-color: rgb(188, 71, 73);
}

.black-square {
  background-color: #313338;
}

.green-square {
  background-color: rgb(106, 153, 78);
}

.smooth-top-left {
  border-top-left-radius: 50%;
}

.smooth-top-right {
  border-top-right-radius: 50%;
}

.smooth-bottom-left {
  border-bottom-left-radius: 50%;
}

.smooth-bottom-right {
  border-bottom-right-radius: 50%;
}

.rouletteParent {
  transition: 0.5s;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.rouletteParent div {
  border-style: solid;
  border-width: 2px;
  display: flex;
  padding: 2px;
  justify-content: center;
  align-items: center;
  min-width: 2.5vw;
  min-height: 2.5vw;
  transition: 0.5s;
}
.rouletteParent div:hover {
  background-color: rgba(167, 201, 87, 0.5);
  transition: 0.5s;
  cursor: pointer;
}
.rouletteParent div p {
  font-family: "font-3", sans-serif;
  font-size-adjust: inherit;
  white-space: nowrap;
  font-size: 1em;
}

.square1 {
  grid-area: 4/2/5/3;
}

.square2 {
  grid-area: 3/2/4/3;
}

.square3 {
  grid-area: 2/2/3/3;
}

.square4 {
  grid-area: 4/3/5/4;
}

.square5 {
  grid-area: 3/3/4/4;
}

.square6 {
  grid-area: 2/3/3/4;
}

.square7 {
  grid-area: 4/4/5/5;
}

.square8 {
  grid-area: 3/4/4/5;
}

.square9 {
  grid-area: 2/4/3/5;
}

.square10 {
  grid-area: 4/5/5/6;
}

.square11 {
  grid-area: 3/5/4/6;
}

.square12 {
  grid-area: 2/5/3/6;
}

.square13 {
  grid-area: 4/6/5/7;
}

.square14 {
  grid-area: 3/6/4/7;
}

.square15 {
  grid-area: 2/6/3/7;
}

.square16 {
  grid-area: 4/7/5/8;
}

.square17 {
  grid-area: 3/7/4/8;
}

.square18 {
  grid-area: 2/7/3/8;
}

.square19 {
  grid-area: 4/8/5/9;
}

.square20 {
  grid-area: 3/8/4/9;
}

.square21 {
  grid-area: 2/8/3/9;
}

.square22 {
  grid-area: 4/9/5/10;
}

.square23 {
  grid-area: 3/9/4/10;
}

.square24 {
  grid-area: 2/9/3/10;
}

.square25 {
  grid-area: 4/10/5/11;
}

.square26 {
  grid-area: 3/10/4/11;
}

.square27 {
  grid-area: 2/10/3/11;
}

.square28 {
  grid-area: 4/11/5/12;
}

.square29 {
  grid-area: 3/11/4/12;
}

.square30 {
  grid-area: 2/11/3/12;
}

.square31 {
  grid-area: 4/12/5/13;
}

.square32 {
  grid-area: 3/12/4/13;
}

.square33 {
  grid-area: 2/12/3/13;
}

.square34 {
  grid-area: 4/13/5/14;
}

.square35 {
  grid-area: 3/13/4/14;
}

.square36 {
  grid-area: 2/13/3/14;
}

.square0 {
  grid-area: 2/1/5/2;
}

.firstRowSquare {
  grid-area: 2/14/3/15;
}

.secondRowSquare {
  grid-area: 3/14/4/15;
}

.thirdRowSquare {
  grid-area: 4/14/5/15;
}

.firstDozenSquare {
  grid-area: 1/2/2/6;
}

.secondDozenSquare {
  grid-area: 1/6/2/10;
}

.thirdDozenSquare {
  grid-area: 1/10/2/14;
}

.firstHalfSquare {
  grid-area: 5/2/6/4;
}

.evenSquare {
  grid-area: 5/4/6/6;
}

.redSquare {
  grid-area: 5/6/6/8;
}

.blackSquare {
  grid-area: 5/8/6/10;
}

.oddSquare {
  grid-area: 5/10/6/12;
}

.secondHalfSquare {
  grid-area: 5/12/6/14;
}

.slidecontainer {
  width: 60%; /* Width of the outside container */
  margin: 20px;
}

.slider {
  margin: 10px;
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background: rgba(49, 51, 56, 0.7);
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(167, 201, 87);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(167, 201, 87);
  cursor: pointer;
}

.toastify {
  font-family: "font-1", sans-serif;
  font-size-adjust: inherit;
  color: rgb(242, 232, 207);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
}

.notification {
  background: linear-gradient(to top left, #6b6965, #a5a093);
}

.winner {
  background: linear-gradient(to bottom right, rgb(106, 153, 78), #4e6643);
}

.loser {
  background: linear-gradient(to bottom right, rgb(188, 71, 73), #773d41);
}

.optionsButton {
  background-image: url(../media/images/options.png);
}
.optionsButton:hover {
  transform: scale(1.2) rotate(90deg);
}

#collapsibleOptionsElement {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  margin: 0;
}

#collapsibleOptionsElement.expanded {
  max-height: 1000px; /* Set a sufficiently large value to accommodate content */
  opacity: 1;
  margin: 1vh;
}

*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
  background-color: rgb(56, 102, 65);
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: rgba(49, 51, 56, 0.5);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(106, 153, 78);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(167, 201, 87);
}

*::-webkit-scrollbar-thumb:active {
  background-color: #62A34B;
}

.collapsibleElement {
  width: 80%;
  margin: 1vw;
  padding: 1vw;
  flex-direction: column !important;
  align-items: center !important;
  display: flex !important;
  border-radius: 30px;
  background-color: rgba(106, 153, 78, 0.25);
}

.index-home {
  width: 100%;
  background-color: rgb(56, 102, 65);
  background-image: url("./../media/backgrounds/playing-symbols-very-transparent.png");
  background-size: 10%;
}

#tableParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=app.css.map */
