$transition-speed: 0.25s;

.optionsButton {
  color: rgba($color: #000000, $alpha: 0);
  background-color: rgba($color: #000000, $alpha: 0);
  /* border: none; */
  width:2.5vw;
  height:2.5vw;

  min-width: 30px;
  min-height: 30px;

  background-size: cover;
  background-image: url(../media/images/options.png);

  position: fixed;
  bottom: 1vw;
  left: 1vw;

  transition: .5s;

  &:hover {
    transition: .5s;
    transform: rotate(90deg);

    filter: invert(20%) sepia(6%) saturate(694%) hue-rotate(185deg) brightness(89%) contrast(93%);
  }
}

.optionsButtonContainer {
  width: 25px;
  height: 25px;
}

.display-none{
  display: none;
  transition: $transition-speed ease-in-out;
}

.visible-item {
    opacity:1;
    transition: $transition-speed ease-in-out;
    display:flex;
  }

.collapsing-item {
    opacity: 0;
    height: 0;
    transition: $transition-speed ease-in-out;
    display:flex;

    transform: translateY(-20px);
}


#accesibilityControlsContainer {
  width: 100%;
  
  flex-direction: column;
  align-items: center;

  display: flex;
}