.roulette-container {
    border-style: solid;
    border-width: 2px;
    border-color: $color-white;
    flex-direction: row;

    display: flex;

    justify-content: center;
    align-items: center;

    & p {
        font-family: 'font-3', sans-serif;
        font-size-adjust: inherit;
    }
}

.invisible-container {
    color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    & p {
        color: rgba(0, 0, 0, 0);
    }
}

.roulette-square {
    width: 2.5vw;
    height: 2.5vw;

    font-family: 'font-3', sans-serif;
    font-size-adjust: inherit;
}