/* SCSS RGB */
$hunter-green: rgba(56, 102, 65, 1);
$asparagus: rgba(106, 153, 78, 1);
$yellow-green: rgba(167, 201, 87, 1);
$parchment: rgba(242, 232, 207, 1);
$bittersweet-shimmer: rgba(188, 71, 73, 1);
$gunmetal : #2F4F4F;

$color-1: $hunter-green;
$color-2: $asparagus;
$color-3: $yellow-green;
$color-4: $parchment;
$color-5: $bittersweet-shimmer;
$color-6: $gunmetal;

$color-dark-green: $color-1;
$color-green: $color-2;
$color-light-green: $color-3;
$color-white: $color-4;
$color-red: $color-5;
$color-black: $color-6;