/* SCSS RGB */
$hunter-green: rgba(56, 102, 65, 1);
$asparagus: rgba(106, 153, 78, 1);
$yellow-green: rgba(167, 201, 87, 1);
$parchment: rgba(242, 232, 207, 1);
$bittersweet-shimmer: rgba(188, 71, 73, 1);
$gunmetal: #313338;
$royal-purple: #6B3FA0;
$gold-yellow: rgba(210, 162, 71, 1);

$color-1: $hunter-green;
$color-2: $asparagus;
$color-3: $yellow-green;
$color-4: $parchment;
$color-5: $bittersweet-shimmer;
$color-6: $gunmetal;
$color-7: $royal-purple;
$color-8: $gold-yellow;

$color-dark-green: $color-1;
$color-green: $color-2;
$color-light-green: $color-3;
$color-white: $color-4;
$color-red: $color-5;
$color-black: $color-6;
$color-purple: $color-7;
$color-yellow: $color-8;