.hilight-red {
    color: $color-red;
    font-family: 'font-2', sans-serif;

    text-shadow: 1px 1px black;
}

.hilight-green {
    color: $color-green;
    font-family: 'font-2', sans-serif;

    text-shadow: 1px 1px black;
}

.hilight-black {
    color: $color-black;
    font-family: 'font-2', sans-serif;

    text-shadow: 1px 1px black;
}

//There is an additional text decoration in ./scss/mixins/effects.scss